/* General Styles */
.page-border {
border: 2px solid black;
border-radius: 10px;
margin-top:20px; 
margin-bottom:20px; 
margin-left:23px; 
margin-right:20px;
height: 2700px;
width: 1222px;
}



body {
  background: url("../Images/dotted paper background.png") center center fixed;
  background-size: cover;
}

/* Navigation Bar Styles */
.dashed-border {
  position: absolute;
  width: 91%;
  height: 65px;
  margin-left: 35px;
  top: 5%;
  background: white;
  color: black;
  border-radius: 50px;
  border: 2px dashed;
}

.Nav {
  margin-right: 2%;
  margin-top: 0.6%;
}

.topnav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -37px;
  margin-right: 150px;
}

.topnav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Gill Sans MT";
}

.topnav a:hover {
  text-decoration: underline;
}

.Navbut {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 13px;
}

.Navbut a {
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Gill Sans MT";
  background-color: black;
  border-radius: 30px;
}

.Navbut a:hover {
  background-color: black;
  border-radius: 30px;
  color: white;
}

.Navbut a.active {
  color: black;
  border-radius: 30px;
}

.thick-line-1,
.thick-line-2 {
  width: 3.5px;
  height: 30px;
  background-color: black;
}

/* Circular boxes */
.circular-box-1,
.circular-box-2,
.circular-box-3 {
  position: absolute;
  width: 91%;
  height: 65px;
  background: black;
  color: black;
  border-radius: 50px;
  margin-left: 35px;
}

.circular-box-text-1,
.circular-box-text-2,
.circular-box-text-3 {
  margin-left: 4px;
  margin-top: 33px;
  margin-bottom: 10px;
  font-size: 28px;
  font-family: "Gill Sans MT";
  color: white;
}

/* Images */

.hero-photo {
  width: 95%;
  height: auto;
  padding-top: 210px;
  padding-left: 34px;
  padding-right: 20px;
  border: transparent;
  border-radius: 30px;
}

.profile-image {
  border: solid thin black;
  border-radius: 50%;
  margin-top: 500px;
  margin-left: 90px;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.about-me {
  display: flex;
  justify-content: center;
  margin-top: -310px;
  margin-left: 440px;
  margin-right: 45px;
  font-size: 25px;
  font-family: "Gill Sans MT";
  background-color: white;
  
}

.text {
  word-spacing: 8px;
  margin-top: -20px;
}

.circular-box-1 {
margin-top: -800px;
}

.circular-box-2 {
margin-top: -80px;
}

.circular-box-3 {
  float: inline-end;
  margin-top: 410px;
}

.circular-box-text-3 {
  display: flex;
  justify-content: center;
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 35px;
  font-family: "Gill Sans MT";
  color: white;
}

/* Case study items */
.case-study-list-item-1,
.case-study-list-item-2,
.case-study-list-item-3,
.case-study-list-item-4 {
  border: solid thin black;
  border-radius: 10px;
  background-color: white;
  width: 93.2%;
  height: 130px;
  margin-left: 39.2px;
}

.case-study-list-item-1 {
margin-top: 300px;
}
.case-study-list-item-2 {
  margin-top: 20px;
}

.case-study-list-item-3 {
  margin-top: 20px;
}

.case-study-list-item-4 {
  margin-top: 20px;
}

.case-study-list-text-1,
.case-study-list-text-2,
.case-study-list-text-3,
.case-study-list-text-4 {
  margin-top: 40px;
  margin-bottom: 25px;
  font-family: "Gill Sans MT";
  font-size: 35px;
  font-weight: bold;
  color: black;
  margin-left: 15px;
}

/* Case study tags */

.tag-1,
.tag-2,
.tag-3,
.tag-4,
.tag-5,
.tag-6,
.tag-7,
.tag-8,
.tag-9,
.tag-10,
.tag-11,
.tag-12,
.tag-13,
.tag-14,
.tag-15 {
  font-size: 20px;
  font-family: "Gill Sans MT";
  margin-left: 15px;
}

.tag-1 {
  margin-top: -50px;
  margin-left: 85%;
  border: solid thin black;
  border-radius: 30px;
  width: 110px;
  display: flex;
  justify-content: center;
}

.tag-2 {
  margin-top: -24px;
  margin-left: 72%;
  border: solid thin black;
  border-radius: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
}

.tag-3 {
  margin-top: -24.5px;
  margin-left: 56%;
  border: solid thin black;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
}

.tag-4 {
  margin-top: -24.5px;
  margin-left: 40%;
  border: solid thin black;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
}

.tag-5 {
  margin-top: -50px;
  margin-left: 85%;
  border: solid thin black;
  border-radius: 30px;
  width: 110px;
  display: flex;
  justify-content: center;
}

.tag-6 {
  margin-top: -24px;
  margin-left: 72%;
  border: solid thin black;
  border-radius: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
}

.tag-7 {
  margin-top: -24px;
  margin-left: 56%;
  border: solid thin black;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
}

.tag-8 {
  margin-top: -24px;
  margin-left: 40%;
  border: solid thin black;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
}

.tag-9 {
  margin-top: -50px;
  margin-left: 85%;
  border: solid thin black;
  border-radius: 30px;
  width: 110px;
  display: flex;
  justify-content: center;
}

.tag-10 {
  margin-top: -24px;
  margin-left: 72%;
  border: solid thin black;
  border-radius: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
}

.tag-11 {
  margin-top: -24px;
  margin-left: 56%;
  border: solid thin black;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
}

.tag-12 {
  margin-top: -50px;
  margin-left: 85%;
  border: solid thin black;
  border-radius: 30px;
  width: 110px;
  display: flex;
  justify-content: center;
}

.tag-13 {
  margin-top: -24px;
  margin-left: 72%;
  border: solid thin black;
  border-radius: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
}

.tag-14 {
  margin-top: -24px;
  margin-left: 56%;
  border: solid thin black;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
}

.tag-15 {
  margin-top: -24px;
  margin-left: 40%;
  border: solid thin black;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
}






.description {
  font-size: 25px;
  font-family: "Gill Sans MT";
  margin-top:200px;
  margin-left: 20px;
  background-color: white;
  background-size:auto;
}



/* Footer */
.footer {
  box-sizing: border-box;
  background: white;
  border: 2px dashed;
  color: black;
  border-radius: 50px;
  width: 95%;
  height: 65px;
  margin-top: 150px;
  margin-left: 30px;
}

.footer-text {
  font-size: 15px;
  font-family: "Gill Sans MT";
  margin-left: 50px;
  margin-top: 22px;
}



/* Media Queries */
@media only screen and (max-width: 768px) {
  .page-border,
  .dashed-border,
  .circular-box-1,
  .circular-box-2,
  .circular-box-3,
  .hero-photo,
  .profile-image,
  .about-me-image,
  .case-study-list-item-1,
  .case-study-list-item-2,
  .case-study-list-item-3,
  .case-study-list-item-4,
  .footer {
    width: 90%;
    margin-left: 5%;
  }

  .topnav {
    margin-right: 5%;
  }

}